**/doc/api/
.buildlog/
.dart_tool/
.idea/
.svn/
.vscode/
build/
migrate_working_dir/

*.class
*.iml
*.ipr
*.iws
*.lock
*.log
*.pyc
*.swp
.DS_Store
.history
.metadata
.packages
CHANGELOG.md
analysis_options.yaml